extends ../layouts/default

block main


block content
  - var action = '/articles'
  - action += article.isNew? '' : '/' + article.id

  .col-md-5.col-md-offset-3
      h3 Tell us!
      form.form-horizontal(method="post", action=action, enctype="multipart/form-data", role="form")

        input(type="hidden", name="_csrf", value="#{csrf_token}")

        - if (!article.isNew)
          input(type="hidden", name="_method", value="PUT")

        .form-group
          label.control-label(for="category") Something you enjoyed
            select.form-control#category(name="category", value="article.category")
              option Book
              option Music
              option Movie
              option Food
              option Other

        .form-group
          label.control-label(for='title') It's called
          input.form-control#title(type='text', name="title", value=article.title, placeholder='Game of Thrones')

        
        .form-group
          label.control-label(for='desc') It's awesome because
          textarea.form-control#desc(rows="3", name="desc", placeholder='Morally ambiguous characters')=article.desc

        .form-group
          label.control-label(for='link') Link
          input.form-control#link(type='text', name="link", value=article.link, placeholder='www.something.com')                       

        .form-group
          .col-md-offset-4.col-sm-10
            button.btn.btn-primary(type='submit') Save

