extends ../layouts/default

block main



block content
  - if (articles.length)
    - each article in articles
      .article
        .col-md-4
          .panel.panel-default(style="height:250px")
            .panel-heading
              p= article.title

            .panel-body 
              p= article.category
              p= article.desc
              a(href=article.link)
                .glyphicon.glyphicon-link

              .meta

                - if (article.user)
                  
                  - var name = article.user.name
                  - var link = article.user.link 

                  a(href= link)= name

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No articles.&nbsp;
      a(href="/articles/new") create one
