extends ../layouts/default

block main
  h2= article.title
  h3= article.category

block content
  .row
    .col-md-8
      p=article.desc
      p Link :&nbsp;
        a(href=article.link, title=article.title)= article.link
      .meta
        - if (article.user)
          p 
            a(href="/users/"+article.user._id)= article.user.name


        p.muted= formatDate(article.createdAt, "%b %d, %Y at %I:%M %p")


  form(action="/articles/"+article.id, method="post", onsubmit="return confirm('Are you sure?')")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    a.btn.btn-default(href='/articles/'+article._id+'/edit', title="edit") Edit
    | &nbsp;
    input(type="hidden", name="_method", value="DELETE")
    button.btn.btn-danger(type="submit") Delete

